
/.vs/*
/Initializer/bin
/Initializer/obj
/TelemetryEngine/bin
/TelemetryEngine/obj
/DamageVisualizer/bin
/DamageVisualizer/obj
/DamageVisualizer.Installer/bin
/DamageVisualizer.Installer/obj
/DamageVisualizer.Installer/Installs
/DamageVisualizer.Installer/ComponentGenerated.wxs
/GUI/bin
/GUI/obj
/packages/
*.txt
*.exe